<h1>Welcome to Bounce</h1>
<img src="https://media.giphy.com/media/LpALgGQNZLzdm/giphy.gif" alt="Bouncy" height="300">


<p>
<% @messages.reverse.each do |message| %>
  <div>
  <%= message.time%> ~ <%=message.content%>
  </div>
<% end %>
</p>

<p>
<form action="/send_message" method="post">
  <label for="message">Enter your message:</label>
    <input type="text" name="message">
  <input type="submit" value="Send">
</form>
</p>
